---
import { Icon } from 'astro-icon/components'
const { post } = Astro.props
---
<div class="container">
    <div class="header">
        <h1 class="title">{post.data.title}</h1>
    <h3 class="subtitle">{post.data.description}</h3>
    </div>
    <div set:html={post.data.previewText} class="preview"/>
    <div class="footer">
        <!-- <time datetime={post.data.publishDate.toISOString()}>{post.data.publishDate.toDateString().slice(4,15)}</time> -->
        <a href={`/posts/${post.slug}`}><Icon name="maki:arrow" /></a>

        
    </div>
</div>
<style>
    .container {
         display: flex;
         flex-direction: column;

         background-color: var(--color-bg-light);
         border: var(--border-size-1) solid var(--gray-4); 
         border-radius: var(--radius-2);
         box-shadow: var(--shadow-2);

        overflow: hidden;
    }

    .content {

        padding: var(--size-3);
    }
    .header {
        background-color: var(--color-main-light);
        padding: var(--size-3);
        color: var(--color-highlight);
    }
    .info {
        padding: var(--size-1);
        background-color: var(--color-bg-light);
    }
    h1 {
        line-height: var(--font-lineheight-1);
        /* color: var(--color-bg-light); */
    }

    h3 {
        /* color: var(--color-bg-light); */
        line-height: var(--font-lineheight-2);
        font-size: var(--font-size-2);
        font-weight: 400;
    }
    .preview {
        padding: var(--size-2) var(--size-3);
        padding-bottom: 0;
    }
    .preview :global(p) {
        margin-bottom: var(--font-size-0);
    }
    .footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: right; 
        align-items: center;
        background-color: var(--color-highlight);
        padding: var(--size-2) var(--size-3);
    }
    time {
        min-width: fit-content;
        display: block;
    }
    a {
        display: block;
        text-align: left;
        z-index: 0;

        text-decoration: none;
        color: var(--color-main-light);
    }
    [data-icon] {
        display: inline-block;
        font-size: 2rem;
    }
</style>