---
const { post } = Astro.props;

import ImageToggleComponent from "./ImageToggleComponent.astro";
---

<div class="wrapper">
    <div class="header">
        <ImageToggleComponent
            mobileImgUrl={post.data.imgHeadingMobile}
            mobileWidth={500}
            mobileHeight={100}
            desktopImgUrl={post.data.imgHeading}
            desktopWidth={1500}
            desktopHeight={200}
            toggleWidth={640}
        />
        <button aria-expanded="false" class="btn-tgl-info"
            ><span class="sr-only">Info</span></button
        >
    </div>
    <div class="doodle" data-visible="false">
        <div class="notes">Additional Notes:</div>
        <ImageToggleComponent
            mobileImgUrl={post.data.imgDoodle}
            mobileWidth={600}
            mobileHeight={900}
            desktopImgUrl={post.data.imgDoodle}
            desktopWidth={600}
            desktopHeight={900}
            toggleWidth={640}
        />
    </div>

    <h3 class="subtitle">{post.data.description}</h3>
    <div set:html={post.data.previewText} class="preview" />
    <div class="footer">
        <a href={`/posts/${post.slug}`}>
            <ImageToggleComponent
                mobileImgUrl={post.data.imgCallToActionMobile}
                mobileWidth={600}
                mobileHeight={100}
                desktopImgUrl={post.data.imgCallToAction}
                desktopWidth={1200}
                desktopHeight={100}
                toggleWidth={640}
            />
        </a>
    </div>
</div>
<style>
    .wrapper {
        container: wrapper / inline-size;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        position: relative;

        width: clamp(18rem, 90vw, 50rem);

        border: var(--border-size-3) solid black;
        border-radius: var(--radius-2);
        box-shadow: var(--shadow-3);

        background-repeat: repeat;
    }
    .btn-tgl-info {
        position: absolute;
        display: none;
        z-index: 9999;
        cursor: pointer;

        bottom: -3rem;
        right: -2rem;
        width: 4rem;
        aspect-ratio: 1;

        border: var(--border-size-3) solid black;
        border-radius: 50%;
        box-shadow: var(--shadow-3);

        background: url("/public/assets/site/icons/icon-info.png");
        background-color: var(--color-highlight);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header {
        width: 100%;
        aspect-ratio: 1200/160;
        position: relative;
        grid-column: span 3;

        border-bottom: var(--border-size-3) black solid;
        background-color: var(--color-main-light);
        background-image: url();

        :global(img) {
            position: absolute;
            max-width: 100%;
            height: auto;
        }
    }

    .doodle {
        background-color: var(--color-bg-light);
        border-left: var(--border-size-3) solid black;

        grid-column: 3 / 4;
        grid-row: 3 / 4;

        position: relative;

        width: 100%;
        min-height: 15rem;

        .notes {
            padding-left: var(--size-1);
            font-weight: 700;
            /* background-color: var(--color-highlight);
            border-bottom: var(--border-thick);
            border-right: var(--border-thick); */
        }
        :global(img) {
            position: absolute;
            aspect-ratio: 2/3;
            max-width: 100%;
            width: 100%;
            inset: 0;
            top: var(--size-2);
            margin: auto;
        }
    }

    h3 {
        /* display: none; */
        grid-column: 1 / 4;
        grid-row: 2 / 3;

        padding: var(--size-2);
        border-bottom: var(--border-thick);
        background-color: var(--color-secondary-light);

        line-height: var(--font-lineheight-2);

        font-size: var(--font-size-2);
        font-weight: 700;
        text-align: left;
    }

    .preview {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        padding: var(--size-2);
        padding-bottom: 0;
    }

    .footer {
        grid-column: 1 / 4;
        position: relative;
        aspect-ratio: 12;
        min-height: 2rem;
        background-color: var(--color-highlight);
        border-top: var(--border-size-3) solid black;
        padding: var(--size-1) var(--size-3);

        :global(img) {
            position: absolute;
            height: auto;
            inset: 0;
            margin: auto;
        }
        a {
            display: block;
            margin-right: var(--size-2);

            font-family: var(--font-serif);
            font-weight: 700;
            font-size: var(--font-size-4);
            text-decoration: none;
            color: var(--color-main-light);
        }

        a::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        [data-icon] {
            display: inline-block;
            font-size: 1.5rem;
        }
    }

    @media (width < 640px) {
        .btn-tgl-info {
            display: block;
        }
        .btn-tgl-info[aria-expanded="true"] {
            background-image: url("/public/assets/site/icons/icon-info-close.png");
        }
        .header {
            grid-column: span 3;
            aspect-ratio: 1200/240;
        }

        .doodle {
            /* display: none; */
            position: absolute;
            z-index: 900;
            grid-column: span 3;
            grid-row: 1 / 4;
            top: 1rem;
            right: 0.5rem;

            max-width: 30rem;
            max-height: 80vh;
            aspect-ratio: 2/3;
            border: var(--border-thick);
            box-shadow: var(--shadow-3);

            transform: translateY(-150%);
            transition: transform 150ms ease-out;

            :global(img) {
                height: 100%;
                width: auto;
            }
        }
        .doodle[data-visible="true"] {
            transform: translateY(0%);
        }
        h3 {
            grid-column: span 3;
            grid-row: 2;
            font-size: var(--font-size-2);
        }
        .preview {
            grid-column: span 3;
            grid-row: 3;
            font-size: var(--font-size-1);
            border-bottom: var(--border-thick);
        }
        .footer {
            grid-column: span 3;
            grid-row: 6;
            aspect-ratio: 6;
            border: 0;
        }
    }
</style>
<script>
    function init() {
        const toggleButton = document.querySelector(".btn-tgl-info");
        const notePanel = document.querySelector(".doodle");

        toggleButton.addEventListener("click", () => {
            const visibility = notePanel.getAttribute("data-visible");
            console.log(visibility);

            if (visibility === "false") {
                notePanel.setAttribute("data-visible", "true");
                toggleButton.setAttribute("aria-expanded", "true");
            } else if (visibility === "true") {
                notePanel.setAttribute("data-visible", "false");
                toggleButton.setAttribute("aria-expanded", "false");
            }
        });
    }
    document.addEventListener("astro:after-swap", init);
    init();
</script>
