---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import header from "../content/images/lack-of-life-loss-of-joy-heading.png";
import quote from "../content/images/lack-of-life-loss-of-joy-doodle.png";
const { post } = Astro.props;
---

<div class="wrapper">
    <div class="header">
        <Image
            src={header}
            alt="lack of life, loss of life"
            widths={[240, 540, 720, header.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${header.width}px`}
        />
        <!-- <h1 class="title">{post.data.title}</h1> -->
    </div>
    <div class="info">
        <time datetime={post.data.publishDate.toISOString()}
            >{post.data.publishDate.toDateString().slice(4, 15)}</time
        >
    </div>
    <div class="doodle">
        <div class="notes">Additional Notes:</div>
        <Image
            src={quote}
            alt="lack of life, loss of life"
            widths={[240, 540, 720, header.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${header.width}px`}
        />
    </div>

    <h3 class="subtitle">{post.data.description}</h3>
    <div set:html={post.data.previewText} class="preview" />
    <div class="footer">
        <a href={`/posts/${post.slug}`}>read</a><Icon name="maki:arrow" />
    </div>
</div>
<style>
    .wrapper {
        container: wrapper / inline-size;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        position: relative;

        width: clamp(20rem, 90vw, 50rem);

        border: var(--border-size-3) solid black;
        border-radius: var(--radius-2);
        box-shadow: var(--shadow-3);

        background-image: url(../assets/handmadepaper.webp);
        background-repeat: repeat;
    }

    .header {
        width: 100%;
        aspect-ratio: 1200/160;
        position: relative;
        grid-column: span 3;

        border-bottom: var(--border-size-3) black solid;
        background-color: var(--color-main-light);

        img {
            position: absolute;
            max-width: 100%;
            height: auto;
            top: -0.2rem;
            left: -0.8rem;
            transform: rotate(-1deg);
            opacity: 90%;
        }
    }

    .info {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        background-color: var(--color-highlight);
        border-left: var(--border-size-3) black solid;
        border-bottom: var(--border-size-3) black solid;
    }
    .doodle {
        background-color: var(--color-bg-light);
        border-left: var(--border-size-3) solid black;

        grid-column: 3 / 4;
        grid-row: 3 / 4;

        position: relative;
        width: 100%;
        min-height: 15rem;

        .notes {
            width: fit-content;
            padding: var(--size-1);
            /* background-color: var(--color-highlight);
            border-bottom: var(--border-thick);
            border-right: var(--border-thick); */
        }
        img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            inset: 0;
            margin: auto;
        }
    }

    h3 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        padding-left: var(--size-3);
        margin-bottom: var(--size-2);
        line-height: var(--font-lineheight-2);

        font-size: var(--font-size-2);
        font-weight: 700;
        text-align: left;
    }

    .preview {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        padding: var(--size-3);
    }

    .footer {
        grid-column: 1 / 4;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        background-color: var(--color-highlight);
        border-top: var(--border-size-3) solid black;
        padding: var(--size-1) var(--size-3);

        a {
            display: block;
            margin-right: var(--size-2);

            font-family: var(--font-serif);
            font-weight: 700;
            font-size: var(--font-size-4);
            text-decoration: none;
            color: var(--color-main-light);
        }

        a::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        [data-icon] {
            display: inline-block;
            font-size: 1.5rem;
        }
    }

    @container wrapper (width < 35rem) {
        .header {
            grid-column: span 3;
        }
        .info {
            grid-column: span 2;
            grid-row: 4;
            border: 0;
            border-right: var(--border-size-3);
        }
        .doodle {
            grid-column: span 3;
            grid-row: 5;
            border: 0;
            border-top: var(--border-size-3) black solid;
            img {
                width: auto;
                height: 100%;
            }
        }
        h3 {
            grid-column: span 3;
            grid-row: 2;
            font-size: var(--font-size-2);
        }
        .preview {
            grid-column: span 3;
            grid-row: 3;
            font-size: var(--font-size-1);
            border-bottom: var(--border-size-3) black solid;
        }
        .footer {
            grid-column: span 1;
            grid-row: 4;
            border: 0;
        }
    }
</style>
